# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
.venv/
env/
venv/
.env
# VSCode / IDE
.vscode/
.idea/

# Sphinx build
docs/build/

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage

# OS files
.DS_Store
Thumbs.db

# Docker
*.log
.venv/
